version: '3.9'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db
    container_name: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  backend:
    build:
      context: ./backend_test-project
      dockerfile: Dockerfile
    container_name: nest-docker-postgres
    environment:
      - PORT=5000
    ports:
      - '5000:5000'
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend_test-project
      dockerfile: Dockerfile
    container_name: nextjs-frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: nest-pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin4
    ports:
      - '5050:80'
    depends_on:
      - db
